/* Header section */

.header {
  text-align: center;
  max-height: 90px;
}

.header h2 {
  display: inline;
}

.header h5 {

  color: gray;
}

.header img {
  height: 30px;
  position: relative;
}

.upload_link { color: #000; border: 1px solid #aaa; background-color: #e0e0e0;
	font-size: 18px; padding: 5px 10px; width: 250px; margin: 10px 0 20px 0;
	font-weight: bold; text-align: center; text-decoration: none; margin: 5px; }
